In [1]:
import numpy as np 
import pandas as pd

In [2]:
obj = pd.Series(np.arange(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

the `is_unique` property of the index can tell you whether or not its labels are unique

In [3]:
obj.index.is_unique

False

Data selection is one of the main things that behaves differently with duplicates. <br>
Indexing a label with multiple entries returns a Series, while single entries return a scalar value.

In [4]:
obj['a']

a    0
a    1
dtype: int64

In [5]:
obj['b']

b    2
b    3
dtype: int64

In [6]:
obj['c']

np.int64(4)

In [7]:
df = pd.DataFrame(np.random.standard_normal((5, 3)), index=["a", "a", "b", "b", "c"])
df

          0         1         2
a  0.002076 -0.435367 -1.196631
a  0.630503 -0.133614  1.787993
b  0.475294 -0.699974 -0.133054
b -0.423778 -0.116764  0.469056
c -0.090255  0.751674 -0.181545

In [8]:
df.loc['b']

          0         1         2
b  0.475294 -0.699974 -0.133054
b -0.423778 -0.116764  0.469056

In [9]:
df.loc['c']

0   -0.090255
1    0.751674
2   -0.181545
Name: c, dtype: float64