### Dropping Entries from an Axis 
- means removing rows or cols from a DataFrame or elements from a Series

---

### Syntax of `drop()`
```python
DataFrame.drop(labels, axis=0, level=None, inplace=False, errors='raise')
```

- **`labels`**: 
  - The labels (or indices) of the rows or columns to be dropped. It can be a single label or a list of labels.
  
- **`axis`**: 
  - The axis to drop from:
    - `0` or `'index'` for rows (default).
    - `1` or `'columns'` for columns.
  
- **`level`**: 
  - If the axis is a MultiIndex, this specifies which level of the index to drop.

- **`inplace`**: 
  - If `True`, the operation is performed in place, and the DataFrame is modified. If `False` (default), a new DataFrame is returned.

- **`errors`**: 
  - Can be set to `'raise'` (default) to raise an error if any labels are not found. Set to `'ignore'` to suppress the error and return the original object.

---

### Use Cases for Dropping Entries
- **Data Cleaning**: Removing irrelevant or unnecessary rows or columns from the dataset.
- **Data Filtering**: Dropping entries that don't meet certain criteria (e.g., dropping rows with NaN values).
- **Preprocessing**: Preparing data by removing columns that are not needed for analysis or modeling.

In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame

In [2]:
# Series
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [3]:
new_obj = obj.drop('c')
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [4]:
obj.drop(['d', 'c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [5]:
# DataFrame

df = pd.DataFrame({'A': [1, 2, 3, 4],'B': [5, 6, 7, 8],'C': [9, 10, 11, 12]}, index=['a', 'b', 'c', 'd'])
df

   A  B   C
a  1  5   9
b  2  6  10
c  3  7  11
d  4  8  12

In [9]:
# dropping rows by labels
df.drop('b') # default axis=0, not necessary here

   A  B   C
a  1  5   9
c  3  7  11
d  4  8  12

In [10]:
# dropping multiple rows
df.drop(['a', 'd'])

   A  B   C
b  2  6  10
c  3  7  11

In [12]:
# dropping columns by labels
df.drop('B', axis=1) # specifying axis here is necessary

   A   C
a  1   9
b  2  10
c  3  11
d  4  12

In [13]:
# dropping multiple columns
df.drop(['A', 'C'], axis=1)

   B
a  5
b  6
c  7
d  8

In [14]:
df

   A  B   C
a  1  5   9
b  2  6  10
c  3  7  11
d  4  8  12

In [29]:
# inplace=True, the DataFrame is modified directly

df = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]}, index=['a', 'b', 'c'])
print(df)

df.drop('b', axis=0, inplace=True) 
print(df)

   A  B
a  1  4
b  2  5
c  3  6
   A  B
a  1  4
c  3  6

In [30]:
# handling errors with errors='ignore' 

df_dropped_ignore = df.drop('z', axis=0, errors='ignore')
print(df_dropped_ignore)

   A  B
a  1  4
c  3  6