### Function Application and Mapping
- It allow you to apply functions to DataFrames or Series in a flexible way
- These operations help manipulate or transform data on a row-by-row or element-wise basis, making them powerful tools for data cleaning and analysis

1. Element Wise Application (`map` or `applymap`)
    - Apply a function to each element in a Series or DataFrame
    - Useful for simple transformations like converting types or applying custom calculations
2. Row Wise or Column Wise Application (`apply`)
    - Apply a function along an axis (row-wise or column-wise) for a DataFrame
    - Useful for aggregations or more complex operations where context from the entire row/column is needed

In [1]:
import numpy as np 
import pandas as pd

In [7]:
# Applying a Function to a Series

# use map for element wise transformation in a Series

s = pd.Series([1,2,3,4])
print(s)
result = s.map(lambda x: x ** 2)    # lambda fn
print(result)

0    1
1    2
2    3
3    4
dtype: int64
0     1
1     4
2     9
3    16
dtype: int64

In [12]:
# Applying a Function to a DataFrame

# use map method for element wise transformation across the entire DataFrame

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
print(df,'\n')
result = df.map(lambda x: x *2)
print(result)

   A  B
0  1  4
1  2  5
2  3  6

   A   B
0  2   8
1  4  10
2  6  12

In [14]:
# Applying a Function Row-wise or Column-wise

# Use the `apply` method to apply a function along rows (axis=1) or columns (axis=0)

# row-wise
row_sum = df.apply(lambda row: row.sum(), axis=1)
print(row_sum)

# find max value column-wise
col_max = df.apply(lambda col: col.max(), axis=0)
print(col_max)

0    5
1    7
2    9
dtype: int64
A    3
B    6
dtype: int64

In [15]:
# Convert a Series of strings to uppercase
s = pd.Series(['apple', 'banana', 'cherry'])
result = s.map(str.upper)
print(result)

0     APPLE
1    BANANA
2    CHERRY
dtype: object

In [16]:
# Replace values using a dictionary
s = pd.Series([1, 2, 3])
result = s.map({1: 'One', 2: 'Two', 3: 'Three'})
print(result)

0      One
1      Two
2    Three
dtype: object

`map`: Element-wise transformations for a Series <br>
`apply`: More flexible; works on rows, columns, or entire Series

MORE !!!

In [18]:
frame = pd.DataFrame(np.random.standard_normal((4, 3)),
                    columns=list("bde"),
                    index=["Utah", "Ohio", "Texas", "Oregon"])

frame

               b         d         e
Utah   -0.274260  1.815276  0.568558
Ohio   -0.447721  1.070861 -0.386735
Texas   1.665330  2.105768 -0.608237
Oregon -0.547244 -1.363466  1.366019

In [19]:
np.abs(frame)

               b         d         e
Utah    0.274260  1.815276  0.568558
Ohio    0.447721  1.070861  0.386735
Texas   1.665330  2.105768  0.608237
Oregon  0.547244  1.363466  1.366019

In [20]:
# apply a function on one-dim arrays to each column or row

def f1(x):
    return x.max() - x.min()

frame.apply(f1) # across the rows

b    2.212573
d    3.469234
e    1.974256
dtype: float64

In [21]:
frame.apply(f1, axis='columns') # across the columns

Utah      2.089537
Ohio      1.518583
Texas     2.714005
Oregon    2.729485
dtype: float64

Many of the most common array statistics (like sum and mean) are DataFrame methods, so using `apply` is not necessary

The function passed to apply need not return a scalar value; it can also return a Series
with multiple values

In [22]:
def f2(x):
    return pd.Series([x.min(), x.max()], index=['mix', 'max'])

frame.apply(f2)

            b         d         e
mix -0.547244 -1.363466 -0.608237
max  1.665330  2.105768  1.366019

In [24]:
# Element-wise Python functions

def my_format(x):
    return f"{x:.2f}"

frame.map(my_format)

            b      d      e
Utah    -0.27   1.82   0.57
Ohio    -0.45   1.07  -0.39
Texas    1.67   2.11  -0.61
Oregon  -0.55  -1.36   1.37